*{
    margin:0;
    padding:0;
    box-sizing: border-box; 
}

body{
    min-height: 15vh;
    display: grid;  
    font-size: 1.1vw;
    background-color: darkgreen;
    color:whitesmoke;
    /* max-width: 1200px; */
    /* margin-left: 2vw;  */
}

.content-container {
    display: grid;
    grid-template-columns: 60vw 25vw;
    gap: 8vw;
    /* align-items: start; */
}

/* THIS STUFF IS NOT DOING ANYTHING, SINCE THE ONLY THING DISPLAYING ON THE WEBSITE IS A HEADER, NOT A TITLE.
title{
    position: fixed;
    left:0;
    top: 0;
    font-size: 2rem;
} */

.main-content {
    margin-left: 2vw;
}




nav {
    color: whitesmoke;
    background-color: rgb(62, 168, 62);
    position: static;
    font-size: 8vh; 
    text-align: right;
    width: 100%;
    height : 10vh;
    border-bottom : .4vh solid whitesmoke;
}

nav a {
    color: whitesmoke;
    margin-right: 1vw;
}

footer{
    position: relative;
    bottom: 0; /* Position at bottom of page */
    left: 0; /* Left of page */
}


h1{
    font-size: 5vw;
    margin-top:12vh;
    margin-bottom: 3vh;
}

/* no h2's currently
h2{
    font-size: 1.5vw;
    font-weight: normal;
    margin-left: 1vw;
    margin-top:11vh;

}*/

h3{
    padding: auto;
    line-height: 1.5;
    font-weight: 500;
    margin-bottom: 1vh;
    font-size: 1.6vw;
}

.gap_below{
    margin-bottom: 8vh;
}

p {
    text-align:left;
    padding: auto; /* maybe this will help make nicer vertical spacing? */ 
    line-height: 1.5;
    margin-bottom: 3vh;
}

/* editing bold class */
b{
    font-weight: 600;
    letter-spacing: .01em;
}

a {  /* color of links */
    text-decoration: none;
    color: rgb(131, 153, 241);
}

a:hover { /* color of links when your cursor is on them */
    opacity: .85;
}

object {
    position:fixed;
    left: 50%;
    transform: translate(-50%, 0%);
    top:10vh;
    max-width: 100%;
    width: 70vw;
    height: 90vh;
}

img.framed {
    /* border: 5px solid whitesmoke;       Add a solid border */
    padding: 1.2vw;                /* Add space between the image and the border */
    background-color: rgb(62, 168, 62);    /* Add a background color behind the image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/* settings for bullet-point list */
ul {
    list-style-type: disc; /* Default bullet style (can be changed) */
    padding-left: 1vw;    /* Add some padding for better spacing */
}
li {
    margin-bottom: 1vh;  /* Add space between list items */
    line-height: 1.5;
}

/* not sure what the code below is doing */

main {
    flex-grow: 1;
    display: grid;
    place-content: center;
}

/* Override for phone-sized screens (≤ 767px) */
@media (max-width: 767px) {

    .gap_below {
        margin-bottom: 20px; /* Fixed margin on phones */
    }

    nav {
        font-size: 1.7rem; 
        height : 2rem;
        border-bottom : .1rem solid whitesmoke;
    }

    body {
        /* padding: 10px; */
        font-size: small;
    }

    .main-content{
        padding: 10px;
    }

    h1 {
        font-size: large;
        margin-top: 0;
    }

    h2 {
        font-size: medium;
    }

    h3 {
        font-size: medium;
    }

    .content-container {
        display: flex;
        flex-direction: column;
    }

    .text-content {
        order: 2;
    }

    img.framed {
        padding: 3vw;
    }

    object {
        /* position:fixed;
        left: 50%;
        transform: translate(-50%, 0%);*/
        top:2.5rem; 
        max-width: 100%;
        width: 90vw;
    }

    .image-container {
        /* text-align: center; */
        margin: 1.5rem; 
        order: 1;
    }

    .image-container img {
        margin-top: 0vh !important;
        /* max-width: 100px; */
    }

}

